body {
  background-image: url('https://docs.google.com/drawings/d/e/2PACX-1vTsFF_OP4GCgkelxEsg9TEkcc-7ZfxSS7fTXXabRnvFMKUjWWwEKqhgA9gqfmty37wDLMXNAWBIrKJb/pub?w=1440&h=1080');
  background-size: cover; /* Ensures the image covers the whole background */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  margin: 0; /* Removes default margin */
  min-height: 100vh; /* Ensures the background covers the full height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.passform {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  position: absolute; /* Allows for absolute positioning */
  top: 90%; /* Adjusts the vertical position */
  left: 50%; /* Adjusts the horizontal position */
  transform: translate(-50%, -50%); /* Centers the form */
  display: flex; /* Display form items in a row */
  flex-wrap: wrap; /* Allow wrapping if space is insufficient */
}

.passform input[type="password"],
.passform input[type="submit"] {
  flex: 1; /* Each item takes equal space */
  padding: 10px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.passform input[type="password"] {
  background-color: black;
  color: silver;
}

.passform input[type="password"]::placeholder {
  color: silver;
  font-style: italic;
  font-family: Helvetica, Arial, sans-serif;
}

.passform input[type="submit"] {
  background-color: #222;
  color: silver;
  cursor: pointer;
  font-family: Helvetica, Arial, sans-serif;
}

.passform input[type="submit"]:hover {
  background-color: black;
}

#error-message {
  color: red;
  margin-top: 10px;
  font-family: Helvetica, Arial, sans-serif;
}